        </main>
        <footer>
            <h1>FindMyPet</h1>
            <nav>
                <a class="<%= title.includes('Terms') ? 'active' : null %>" href="/terms">Terms</a>
                <a class="<%= title.includes('Privacy') ? 'active' : null %>" href="/privacy">Privacy</a>
                <a class="<%= !title.includes('|') ? 'active' : null %>" href="/">Home</a>
            </nav>
            <h1>FindMyPet</h1>
        </footer>
    </body>
</html>