<%- include('partials/head.ejs')  %>
<%- include('partials/header.ejs')  %>
    <main class="register-main">
        
        <section class="register">
            <h2>Add a new pet to your family</h2>
            <p>Fill its data</p>
            <form action="/pets" method="POST">
                <div>
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="Its first name"/>
                </div>
                <div>
                    <label for="picture">Picture</label>
                    <input type="text" name="picture" id="picture" placeholder="Add an url"/>
                </div>
                <div>
                    <label for="breed">Breed</label>
                    <input type="text" name="breed" id="breed" placeholder="What kind of breed is your pet?"/>
                </div>
                <div>
                    <label for="age">Age</label>
                    <input type="text" id="age" name="age" placeholder="Age of your pet"/>
                </div>
                <input class="submit-signin" type="submit" value="Add my pet"/>
            </form>
        </section>
        <section 
            style="background-image: url('https://cdn.dribbble.com/users/1731254/screenshots/13800730/media/230d0b3dd82bf249b2f17249bbbabc72.png?compress=1&resize=1200x900'); width: 50%; background-size: cover;">
        </section>
<%- include('partials/footer.ejs')  %>